
<section id="home">
    <span class="home-background"></span>
    <div class="home-presentation">
        <span class="title">Transformamos ideas en soluciones digitales</span>
        <span class="description">Nos enorgullece disfrutar del desafío de desarrollar soluciones de software a medida que permitan a nuestros clientes mejorar su presencia digital, alcanzar sus objetivos y crecer en su industria."</span>
        <button class="button">Consulta Gratis</button> <!--No se hizo componente por que es el unico boton de su mismo estilo-->
    </div>
    <img class="home-img" src="./assets/Home.svg">

</section>